:root {
    --vermelho: #E50914;
    --preta: #141414;
}
/*Declaração de variáveis no CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Ponto Zero = Reset CSS
O * refere-se a todo o conteúdo redenrizado na página*/

/*Elementos base*/
body {
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: 20px;
}

header nav a:hover {
    color: #fff;
}

/*principal film*/
.principal-film {
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/netflix.challenge.dio/img.challenge/capa-jogoimit.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.principal-film .description {
    margin-bottom: 60px;
    margin-top: 10px;
}

.title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 5px ;
}

.container {
    margin-left: 30px;
}

.principal-film .container {
    width: 40%;
}

/*films and series*/
.box-film {
    height: 100%;
    width: 100%;
    display: block;
}

.caurousel-film {
    margin-top: 5px;
    margin: 20px;
}

.caurousel-film h2 {
    font-size: 28px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*documentaries*/

#documentaries p {
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;  
}